@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Poppins:wght@300;400;500;600;700&family=VT323&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{scroll-behavior:smooth}

#navBarSection{
  background-color: #ededf7;  
}

#cwc_logo{
    width: 45%;
    margin: 0rem .5rem;
    filter: invert();
}

#upperNavBar{
    padding: 10px 30px 5px 30px;

}


#logoWrapper{
    display: inline-block;
   
}

#navLinksWrapper{
    float: right;
  
}

.liLinks{
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
    font-weight: 500;
}

.liLinks a{
    text-decoration: none;
    color: #2c0347;

}

.liLinks a:hover{
    color: #FD1046;
    transition: all 0.2s ease-in;
}
/* .liLinks a:active{
    color: #FD1046;
} */

#liveScoresSection{
    padding: 25px 50px 10px 50px ;
    color:#1b1321;
}

#upperHeading{
   display: inline-block;
}

.liveScore{
    display: inline-block;
    margin: 15px 60px 15px 0px;
    font-size: 1.3rem;
    cursor: pointer;
}
.liveScore:hover{
    color: #FD1046;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #b85757d3;

}

/* .liveScore:active{
    color: #FD1046;
    border-bottom: 2px solid #b85757d3;

} */

.seriesNameText{
    margin: 10px 0px;
    padding: 15px 10px;
    background-color: #FD1046;
    border-radius: 4px;
    color: #ffffff;

}
.dateTime{
    color: #3e3e3ecc;
    font-size: 15px;
    font-weight: 500;
}

.matchWrapperDiv{
    padding: 15px 0px;
}
.matchStatus{
    position: relative;
}

.matchStatus::after{
    content: " ";
    position: absolute;
    top: 110%;
    left: 0%;
    width: 100%;
    margin: 10px 0px;
    border-radius: 50%;
    border-bottom: 3px solid #dbdbdb;
}

.matchName{
    padding: 3px 0px;
}

.matchInfo{
    padding: 0px 10px;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.teamflag{
    width: 12%;
    padding-bottom: 10px;
    
}

.teamsNameFlag{
    margin: 25px 0px;
    padding:  25px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #dbdbdb;
    border-radius: 4px;
}
.vs > p{
    font-size: 25px;
    font-weight: 600;
}

.teamName, .matchStatus, .runsWickets{
    text-align: center;
}

.runsWickets{
    font-weight: 600;
    font-size: 20px;
    padding: 15px 0px 10px 0px;
}

.matchStatus{
    font-size: 23px;
    font-weight: 600;
    color: #E24242;
    margin: 15px 0px;
}

#errorMessageDiv{
    background-color: #dbdbdb;
    border-radius: 4px;
    margin: 25px 0px;
    padding:  25px 10px;
}

#errorText{
padding:10px;
font-size: 18px;
font-weight: 500;
color: #494949;

}
