@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Poppins:wght@300;400;500;600;700&family=VT323&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{scroll-behavior:smooth}

#navBarSection{
  background-color: #ededf7;  
}

#cwc_logo{
    width: 45%;
    margin: 0rem .5rem;
    filter: invert();
}

#upperNavBar{
    padding: 10px 30px 5px 30px;

}


#logoWrapper{
    display: inline-block;
   
}

#navLinksWrapper{
    float: right;
  
}

.liLinks{
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
    font-weight: 500;
}

.liLinks a{
    text-decoration: none;
    color: #2c0347;

}

.liLinks :hover{
    color: #FD1046;
    transition: all 0.2s ease-in;
}

#liveScoresSection{
    padding: 25px 50px 10px 50px ;
    color:#1b1321;
}

#upperHeading{
   display: inline-block;
}

#liveScore{
    margin: 10px 0px;
    padding: 10px;
    border-bottom: 3px solid #b85757d3;
    

}
.seriesNameText{
    margin: 10px 0px;
    padding: 15px 10px;
    background-color: #FD1046;
    border-radius: 4px;
    color: #ffffff;

}
.venue, .matchCount{
    color: #3e3e3ecc;
    font-size: 15px;
    font-weight: 500;
}


.matchName{
    padding: 3px 0px;
}

.matchInfo{
    padding: 0px 10px;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.teamflag{
    width: 12%;
    padding-bottom: 10px;
    
}

.teamsNameFlag, .matchScore{
    margin: 25px 0px;
    padding:  25px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #dbdbdb;
    border-radius: 4px;
}
.vs > p{
    font-size: 25px;
}

.teamName, .tossText, .matchStatus, .runsWickets, .inningText{
    text-align: center;
}

.tossText{
    font-size: 17px;
    font-weight: 500;
    color: #fc2616;
}
.tossHeadingText{
    color: #3e3e3ecc;
}


.teamScore{
    padding: 0px 20px;
    width: 100%;
}
.inningText{
    font-size: 20px;
    padding: 10px 0px;
    color: #2c2c2c;
    
}

.runsWickets{
    font-weight: 600;
    font-size: 18px;
    padding: 5px 0px;
    
}

.overs{
    font-size: 15px;
}


.matchStatus{
    font-size: 23px;
    font-weight: 600;
    color: #E24242;
    margin: 15px;
}

#errorMessageDiv{
    background-color: #dbdbdb;
    border-radius: 4px;
    margin: 25px 0px;
    padding:  25px 10px;
}

#errorText{
padding:10px;
font-size: 18px;
font-weight: 500;
color: #494949;

}
